.editar-producto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .editar-producto-form {
    width: 300px;
    padding: 35px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: #ccc;
    border-radius: 20px;
  }

  .editar-producto-form h2{
    color: #45a049;
    border: black;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .button-editar-producto {
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-editar-producto:hover {
    background-color: rgb(0, 0, 0);
    color: #4caf50;
  }
  