@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.contenedorRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/formRegister.jpg') no-repeat;
  background-size: cover;
}

.formBoxRegister {
  position: relative;
  width: 380px;
  height: 63vh;
  border: 2px solid rgba(255, 255, 2550.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBoxRegister h2 {
  color: #000000;
  text-align: center;
  font-size: 32px;
}

.formBoxRegister .inputBoxRegister {
  position: relative;
  margin: 15px 0;
  width: 300px;
  border-bottom: 2px solid #fff;
}

.formBoxRegister .inputBoxRegister input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  border:1px solid rgb(200, 200, 200);
  border-radius: 40px;
  outline: none;
  padding: 0 20px 0 5px;
  color: #fff;
  font-size: 16px;
}


.inputBoxRegister i{
  position: absolute;
  right: 20px;
  /* top: 20%; */
  /* transform: translate(-50%); */
}

i {
  position: absolute;
  color: #fff;
  top: 18px;
  right: 0;
}

input::placeholder {
  color: #000000;
}

.botonRegister {
  color: #fff;
  background: blue;
  width: 100%;
  height: 50px;
  border: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, .5);
}

.botonRegister:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% en el hover */
  transition: transform 0.3s; /* Agrega una transición suave */
}

.groupRegister {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.groupRegister span a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.groupRegister a:focus {
  text-decoration: underline;
}